.card-navigate {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 60px;
}

/* .card-token-title {
    font-size: 16px;
    font-weight: 500;
    color: #212529;
    margin-bottom: 50px;
  } */

.card-ujian {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 60px;
  background-color: #fff;
}

/* create card-ujian-pilihan-item vertikal */
.card-ujian-pilihan-item-pilihan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* .form-check {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-bottom: 20px;
}

.form-check:hover {
  background-color: rgb(218, 215, 215);
} */

ul {
  list-style: none;
}

li {
  background-color: darkgrey;
  padding: 15px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(218, 215, 215);
}

label {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
